:root {
  font-size: 18px;

  --nav-bg-color: #1a1a1a;
  --main-bg-color: #2a2a2a;

  --task-bg-color: #303030;
  --task-input-bg-color: #4c4c4c;
  --task-input-bg-color-selected: #7b7b7b;
  --task-edit-bg-color: #3c3c3c;

  --nav-hover-color: #2f2f2f;

  --primary-text: #f0f0f0;
  --secondary-text: #cdcdcd;

  /* --accent-1: #004d61;
  --accent-1-light: #006b86;
  --accent-2: #822659;
  --accent-2-light: #ab3375; */
  --accent-1: #ff4e33;
  --accent-1-light: #f87560;
  --accent-2: #ffcf33;
  --accent-2-light: #ffe281;
  --accent-3: #3e5641;
  --accent-3-light: #648b69;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100%;

  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: fit-content;
  color: var(--primary-text);
}

button {
  font: inherit;
  border: none;
  box-shadow: none;
  color: inherit;
}

nav {
  background: var(--nav-bg-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  position: sticky;
  top: 0;
  height: 100vh;

  overflow-y: auto;
  z-index: 10;
}

nav a {
  color: var(--primary-text);
  text-decoration: none;
  display: inline-block;
  width: 100%;

  padding: 6px;

  transition: ease-in 75ms;
}

nav a:hover,
nav a:active {
  background: var(--nav-hover-color);
  padding-left: 10px;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
  margin-top: 6px;
}

nav h2 {
  font-size: 1.9rem;
  margin: 12px 0px;

  border-bottom: 1px solid var(--accent-3);
}

#add-task-btn {
  background: var(--accent-3);
  padding: 6px;
  width: 100%;
  text-align: left;

  display: flex;
  align-items: center;

  transition: background 75ms;
}

#add-task-btn:hover {
  background: var(--accent-3-light);
}

#add-task-btn span {
  width: 28px;
  height: 28px;

  display: inline-block;
  margin-right: 8px;
  background: url(./svg/plus.svg) no-repeat;
  color: var(--primary-text);
}

.nav-item {
  font-size: 1.4rem;
}

.nav-wrapper:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.account-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 1.4rem;
  color: var(--secondary-text);
}

.account-wrapper img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

main {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 36px;
}

.tasks-wrapper {
  width: 60%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-element-wrapper {
  width: 100%;
}

.task {
  width: 100%;
  max-width: 600px;
  background: var(--task-bg-color);
  padding: 18px 24px;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task[data-priority="high"] {
  border-left: 4px solid var(--accent-1);
}

.task[data-priority="medium"] {
  border-left: 4px solid var(--accent-2);
}

.task[data-priority="low"] {
  border-left: 4px solid var(--accent-3-light);
}

.task-header {
  display: flex;
  gap: 12px;
  align-items: center;

  height: 48px;
}

.task-status {
  width: 28px;
  height: 28px;
  cursor: pointer;
  flex-shrink: 0;
}

.task.done .task-status {
  background: url(./svg/task-done.svg) no-repeat center;
}

.task .task-status {
  background: url(./svg/task-not-done.svg) no-repeat center;
}

.task-header h3 {
  font-size: 2rem;
  color: var(--primary-text);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.task.done .task-header h3 {
  text-decoration: line-through;
  color: var(--secondary-text);
}

.task.done {
  z-index: 2;
  opacity: 0.5;
}

.task-actions {
  display: grid;
  grid-template-columns: repeat(2, 52px);
  grid-template-rows: 52px;

  align-items: center;
  justify-items: center;
}

.edit-task-btn,
.delete-task-btn,
.expand-task-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: ease-in 75ms;
}

.edit-task-btn:enabled:hover,
.delete-task-btn:hover,
.expand-task-btn:hover {
  width: 38px;
  height: 38px;
}

.expand-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.expand-task-btn[data-expanded="true"] {
  background: url(./svg/expand-up.svg) no-repeat center;
}

.expand-task-btn[data-expanded="false"] {
  background: url(./svg/expand-down.svg) no-repeat center;
}

.edit-task-btn {
  background: url(./svg/edit.svg) no-repeat center;
}

.delete-task-btn {
  background: url(./svg/delete.svg) no-repeat center;
}

.task-content {
  font-size: 1.4rem;
  color: var(--secondary-text);
}

.task-content.hidden {
  display: none;
}

.task-content li {
  list-style: none;
  margin: 6px 0;
}

.task-content input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  cursor: pointer;
  border: 2px solid var(--secondary-text);
  appearance: none;
  position: relative;
}

.task-content input[type="checkbox"]:checked::after {
  content: " ";
  display: block;
  width: 6px;
  height: 14px;
  position: absolute;
  border-right: 2px solid var(--secondary-text);
  border-bottom: 2px solid var(--secondary-text);
  transform: rotate(45deg);
  top: -3px;
  left: 3px;
}

.task-content :checked + label {
  text-decoration: line-through;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;
  color: var(--primary-text);
}

.add-task-form-wrapper {
  width: calc(100% - 300px);
  height: 100vh;

  position: fixed;
  top: 0;
  left: 300px;
  z-index: 5;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.add-task-form-wrapper.hidden {
  display: none;
}

.add-task-form-wrapper .overlay {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 300px;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5px);

  z-index: -3;
}

.add-task-form {
  width: 100%;
  max-width: 605px;

  background: var(--task-bg-color);
  padding: 24px 48px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-task-form h2 {
  font-size: 2rem;
  color: var(--primary-text);
  margin-bottom: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 18px;
}

.form-group label {
  font-size: 1.3rem;
  color: var(--primary-text);
}

.form-group input,
.form-group textarea,
.form-group select {
  font: inherit;
  padding: 8px;
  font-size: 1.3rem;
  color: var(--primary-text);
  background: var(--task-input-bg-color);

  outline: none;
  border: none;
}

.form-multiple-group {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.form-multiple-group .form-group {
  flex: 1;
}

.add-task-form fieldset {
  border: none;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-task-form fieldset legend {
  font-size: 1.4rem;
  color: var(--primary-text);
  margin-bottom: 6px;
}

.priority-option-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.priority-option-wrapper input[type="radio"] {
  display: none;
}

.priority-option-wrapper label {
  height: 100%;
  width: 100%;
  padding: 8px;
}

.priority-option-wrapper .radio-group {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--task-input-bg-color);
}

.priority-option-wrapper .radio-group:nth-child(1) {
  border-left: 6px solid var(--accent-3-light);
}

.priority-option-wrapper .radio-group:nth-child(2) {
  border-left: 6px solid var(--accent-2);
}

.priority-option-wrapper .radio-group:nth-child(3) {
  border-left: 6px solid var(--accent-1);
}

.priority-option-wrapper input[type="radio"]:checked + label {
  background: var(--task-input-bg-color-selected);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.form-actions button {
  width: 120px;
  height: 42px;
  color: var(--primary-text);
  font-size: 1.3rem;

  transition: ease-in 75ms;
}

.form-actions button:first-child {
  background: var(--accent-3);
}

.form-actions button:first-child:hover {
  background: var(--accent-3-light);
}

.form-actions button:last-child {
  background: var(--task-input-bg-color);
}

.form-actions button:last-child:hover {
  background: var(--task-input-bg-color-selected);
}

.hidden {
  display: none;
}

.task input[type="text"],
.task input[type="date"],
.task textarea {
  all: unset;
  font: inherit;
  color: var(--primary-text);

  background: var(--task-edit-bg-color);
}

#edit-task-title {
  width: 100%;

  padding: 0 8px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#edit-task-description {
  font-size: 1.4rem;
  color: var(--primary-text);
  width: calc(100% - 16px);

  resize: none;
  overflow: hidden;
  height: calc(auto);
  padding: 8px;
}

.edit-save-btn,
.edit-cancel-btn {
  all: unset;
  width: 100px;
  height: 42px;
  color: var(--primary-text);
  font-size: 1.3rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;

  transition: background 75ms ease-in;
}

.edit-save-btn {
  background: var(--accent-3);
}

.edit-save-btn:hover {
  background: var(--accent-3-light);
}

.edit-cancel-btn {
  background: var(--task-input-bg-color);
}

.edit-cancel-btn:hover {
  background: var(--task-input-bg-color-selected);
}
